@charset "EUC-KR";

@media screen and (min-width:900px) {
	.header, .main, .footer {
		width: 60vw;
		margin: 0 auto;
	}
}

.header {
	height: 10vh;
	position: relative;
}

.main {
	height: 100vh;
	width: 100vh;
	position: relative;
}

.main-navigation {
	text-align: right;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.main a, .header a {
	background: #ffcccc;
	font-weight: 500;
	border-radius: 5px;
	color: #660033;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	
}

.main-menu li, .sub-menu li {
	display: inline-block;
}

.main-menu a {
	padding: 5px 20px;
	margin: 10px 5px;
}

.main, .footer {
	text-align: center;
}

.footer {
	height: 8vh;
	position: relative;
	margin-bottom: 2vh;
}

.footer-nav {
	position: absolute;
	top: 50%;
	left: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.footer a {
	display: block;
	font-size: 14px;
}